.bundle

log/*
!log/.keep

tmp/*
!/tmp/.keep

db/migrate
db/schema.rb

config/credentials
!config/credentials/production.yml.enc

public/assets
public/fonts
public/challenge

app/assets/builds/*
!app/assets/builds/.keep

storage
!storage/.keep

node_modules

.lock-*
.irb_history

acme/*
vendor/bundle
