[submodule "engine/rails_com"]
  path = engine/rails_com
  url = git@github.com:work-design/rails_com.git
[submodule "engine/rails_design"]
  path = engine/rails_design
  url = git@github.com:work-design/rails_design.git
[submodule "engine/default_where"]
  path = engine/default_where
  url = git@github.com:qinmingyuan/default_where.git
