[submodule "docker"]
	path = docker
	url = https://github.com/work-design/docker.git
[submodule "engine/rails_com"]
	path = engine/rails_com
	url = git@github.com:work-design/rails_com.git
[submodule "engine/rails_design"]
	path = engine/rails_design
	url = git@github.com:work-design/rails_design.git
