db/schema.rb
db/*.sqlite3
db/*.sqlite3-*
db/*.sqlite3-journal

log/*
!log/.keep

tmp/*
!/tmp/.keep

config/master.key
config/webpacker.yml

public/assets
public/packs
public/packs-test
public/packs-dev
node_modules
yarn-error.log
yarn-debug.log*
.yarn-integrity

.lock-*

vendor/bundle

