$menu-item-active-background-color: #00d1b2;

$body-size: 14px;
$table-head-cell-border-width: 0 0 1px;

@import 'rails_design_engine_ui/stylesheets/app.scss';
@import '@fortawesome/fontawesome-pro/css/all.css';
